/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*  HTML5 display-role reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Futura;
}

a {
  text-decoration: none;
}

input, textarea {
  outline: none;
}

.Header {
  position: absolute;
  top: 20px;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.Header__text {
  margin: 0 auto;
  width: 73%;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header__title {
  font-size: 26px;
  margin-right: auto;
  color: #ffffff;
}

.Header__Menu {
  display: none;
}

@media screen and (max-width: 769px) {
  .Header__Menu {
    content: "";
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    width: 50px;
    height: 38px;
  }
  .Header__Menu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    border-radius: 4px;
    display: inherit;
    -webkit-transition: inherit;
    transition: inherit;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  .Header__Menu span:nth-of-type(1) {
    top: 0;
    -webkit-animation: menu-bar01 .75s forwards;
            animation: menu-bar01 .75s forwards;
  }
  @-webkit-keyframes menu-bar01 {
    0% {
      -webkit-transform: translateY(17px) rotate(45deg);
              transform: translateY(17px) rotate(45deg);
    }
    50% {
      -webkit-transform: translateY(17px) rotate(0);
              transform: translateY(17px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
    }
  }
  @keyframes menu-bar01 {
    0% {
      -webkit-transform: translateY(17px) rotate(45deg);
              transform: translateY(17px) rotate(45deg);
    }
    50% {
      -webkit-transform: translateY(17px) rotate(0);
              transform: translateY(17px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
    }
  }
  .Header__Menu span:nth-of-type(2) {
    top: 17px;
    -webkit-transition: all .25s .25s;
    transition: all .25s .25s;
    opacity: 1;
  }
  .Header__Menu span:nth-of-type(3) {
    bottom: 0;
    -webkit-animation: menu-bar02 .75s forwards;
            animation: menu-bar02 .75s forwards;
  }
  @-webkit-keyframes menu-bar02 {
    0% {
      -webkit-transform: translateY(-17px) rotate(-45deg);
              transform: translateY(-17px) rotate(-45deg);
    }
    50% {
      -webkit-transform: translateY(-17px) rotate(0);
              transform: translateY(-17px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
    }
  }
  @keyframes menu-bar02 {
    0% {
      -webkit-transform: translateY(-17px) rotate(-45deg);
              transform: translateY(-17px) rotate(-45deg);
    }
    50% {
      -webkit-transform: translateY(-17px) rotate(0);
              transform: translateY(-17px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
    }
  }
  .Header__Menu.active span:nth-of-type(1) {
    -webkit-animation: active-menu-bar01 .75s forwards;
            animation: active-menu-bar01 .75s forwards;
  }
  @-webkit-keyframes active-menu-bar01 {
    0% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
    }
    50% {
      -webkit-transform: translateY(17px) rotate(0);
              transform: translateY(17px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(17px) rotate(45deg);
              transform: translateY(17px) rotate(45deg);
    }
  }
  @keyframes active-menu-bar01 {
    0% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
    }
    50% {
      -webkit-transform: translateY(17px) rotate(0);
              transform: translateY(17px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(17px) rotate(45deg);
              transform: translateY(17px) rotate(45deg);
    }
  }
  .Header__Menu.active span:nth-of-type(2) {
    opacity: 0;
  }
  .Header__Menu.active span:nth-of-type(3) {
    -webkit-animation: active-menu-bar03 .75s forwards;
            animation: active-menu-bar03 .75s forwards;
  }
  @-webkit-keyframes active-menu-bar03 {
    0% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
    }
    50% {
      -webkit-transform: translateY(-17px) rotate(0);
              transform: translateY(-17px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(-17px) rotate(-45deg);
              transform: translateY(-17px) rotate(-45deg);
    }
  }
  @keyframes active-menu-bar03 {
    0% {
      -webkit-transform: translateY(0) rotate(0);
              transform: translateY(0) rotate(0);
    }
    50% {
      -webkit-transform: translateY(-17px) rotate(0);
              transform: translateY(-17px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(-17px) rotate(-45deg);
              transform: translateY(-17px) rotate(-45deg);
    }
  }
}

.Header__Navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 769px) {
  .Header__Navigation {
    display: none;
  }
}

@media screen and (max-width: 769px) and (min-width: 481px) {
  .Header__Navigation.active {
    display: block;
    position: absolute;
    top: 100%;
    width: 73%;
    text-align: right;
  }
}

.Header__NavigationItem {
  font-size: 14px;
  color: #ffffff;
}

@media screen and (max-width: 769px) {
  .Header__NavigationItem {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@media screen and (max-width: 769px) and (min-width: 481px) {
  .Header__NavigationItem {
    font-size: 18px;
  }
}

@media screen and (max-width: 769px) and (min-width: 481px) {
  .Header__NavigationItem:nth-child(1) {
    margin-top: 30px;
    -webkit-animation: active-NavigationItem .75s ease 0.75s forwards;
            animation: active-NavigationItem .75s ease 0.75s forwards;
  }
  @-webkit-keyframes active-NavigationItem {
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes active-NavigationItem {
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}

.Header__NavigationItem:nth-child(2) {
  margin: 0 20px;
}

@media screen and (max-width: 769px) {
  .Header__NavigationItem:nth-child(2) {
    margin: 0;
  }
}

@media screen and (max-width: 769px) and (min-width: 481px) {
  .Header__NavigationItem:nth-child(2) {
    margin-top: 10px;
    -webkit-animation: active-NavigationItem .75s ease 0.5s forwards;
            animation: active-NavigationItem .75s ease 0.5s forwards;
  }
  @-webkit-keyframes active-NavigationItem {
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes active-NavigationItem {
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}

@media screen and (max-width: 769px) and (min-width: 481px) {
  .Header__NavigationItem:nth-child(3) {
    margin-top: 10px;
    -webkit-animation: active-NavigationItem .75s ease 0.25s forwards;
            animation: active-NavigationItem .75s ease 0.25s forwards;
  }
  @-webkit-keyframes active-NavigationItem {
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes active-NavigationItem {
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}

.Header__NavigationItem--link {
  color: #ffffff;
}

.Hero {
  background-image: url(../assets/bg.jpg);
  width: 100%;
  height: 580px;
  background-position: 50% 50%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Hero::before {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 580px;
  content: ' ';
}

.Hero__Contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  z-index: 1;
}

.Hero__title {
  font-size: 80px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}

.Hero__Subtitle {
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 769px) and (min-width: 481px) {
  .Hero__Subtitle {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .Hero__Subtitle {
    font-size: 12px;
  }
}

.Button {
  width: 160px;
  color: #ffffff;
  background-color: #96DEDA;
  border-radius: 5px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Hero__Button {
  font-size: 14px;
  height: 40px;
  margin-top: 40px;
}

.Form__Buttosn {
  height: 43px;
  font-size: 16px;
  border: none;
  margin-top: 48px;
}

.Section__title {
  font-size: 36px;
  text-align: center;
  position: relative;
}

.Section__title::after {
  content: "";
  width: 50px;
  height: 2px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
  background: #96DEDA;
}

.Section__title--About::after {
  left: auto;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.Section__title--Service {
  margin-top: 50px;
}

.Section__title--Contact {
  margin-top: 58px;
}

.Service__list {
  width: 73%;
  max-width: 1000px;
  margin: 34px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 769px) and (min-width: 481px) {
  .Service__list {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .Service__list {
    display: block;
  }
}

.Service__item {
  width: 300px;
  height: 276px;
}

@media screen and (max-width: 769px) and (min-width: 481px) {
  .Service__item {
    width: auto;
    height: auto;
    margin-top: 50px;
  }
}

@media screen and (max-width: 480px) {
  .Service__item {
    width: auto;
    height: auto;
    margin-top: 50px;
  }
}

.Service__item:nth-child(2) {
  margin: 0 50px 0 50px;
}

@media screen and (max-width: 769px) and (min-width: 481px) {
  .Service__item:nth-child(2) {
    margin: 50px 0 0 0;
  }
}

@media screen and (max-width: 480px) {
  .Service__item:nth-child(2) {
    margin: 50px 0 0 0;
  }
}

.Service__icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: #95989A 1px solid;
  margin: 0 auto;
}

.Service__title {
  font-size: 20px;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 10px;
}

.Service__text {
  font-size: 14px;
  text-align: center;
  line-height: 19px;
  overflow: scroll;
  height: 183px;
}

@media screen and (max-width: 769px) and (min-width: 481px) {
  .Service__text {
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .Service__text {
    height: auto;
  }
}

.About {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 84px;
}

@media screen and (max-width: 769px) and (min-width: 481px) {
  .About {
    display: inline-block;
  }
}

@media screen and (max-width: 480px) {
  .About {
    display: inline-block;
  }
}

.About__left {
  width: 50%;
  height: 680px;
  background-color: #EEEEEE;
}

@media screen and (max-width: 769px) and (min-width: 481px) {
  .About__left {
    width: auto;
    height: 680px;
    background-color: #EEEEEE;
  }
}

@media screen and (max-width: 480px) {
  .About__left {
    width: auto;
    height: 680px;
    background-color: #EEEEEE;
  }
}

.About__contents {
  height: 100%;
  text-align: right;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.About__title {
  font-size: 24px;
  margin-top: 32px;
}

.About__description {
  font-size: 16px;
  margin-top: 20px;
}

.About__right {
  width: 50%;
}

@media screen and (max-width: 769px) and (min-width: 481px) {
  .About__right {
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .About__right {
    width: auto;
  }
}

.About__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.Form__box {
  width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 769px) and (min-width: 481px) {
  .Form__box {
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .Form__box {
    width: 350px;
  }
}

.Form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.Form__input {
  width: 243px;
  height: 43px;
  margin-left: 13px;
  border: #95989A 1px solid;
  border-radius: 3px;
  color: #AAAAAA;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 769px) and (min-width: 481px) {
  .Form__input {
    width: 193px;
  }
}

@media screen and (max-width: 480px) {
  .Form__input {
    width: 168px;
  }
}

.Form__input--Name {
  border-color: #96DEDA;
  margin-left: 0;
}

.Form__content {
  margin-top: 19px;
}

.Form__textarea {
  width: 500px;
  height: 97px;
  border: #95989A 1px solid;
  border-radius: 3px;
  color: #AAAAAA;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 769px) and (min-width: 481px) {
  .Form__textarea {
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .Form__textarea {
    width: 350px;
  }
}

.Footer {
  width: auto;
  height: 100px;
  background-color: #96DEDA;
  margin-top: 68px;
}

.Footer__Contents {
  position: relative;
  top: 25px;
}

.Footer__list {
  text-align: center;
}

.Footer__icon {
  color: #ffffff;
  width: 24px;
  height: 24px;
}

.Footer__icon-twitter {
  margin-right: 31px;
}

#Copyright {
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  margin-top: 25px;
}
