.About {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-top: 84px;
  &__left {
    width: 50%;
    height: 680px;
    background-color: $gray;
  }
  &__contents {
    height: 100%;
    text-align: right;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 50px;
    box-sizing: border-box;
  }
  &__title {
    font-size: 24px;
    margin-top: 32px;
  }
  &__description {
    font-size: 16px;
    margin-top: 20px;
  }
  &__right {
    width: 50%;
  }
  &__image {
    object-fit: cover;
  }
}
