.Header {
  position: absolute;
  top: 20px;
  z-index: 1;
  align-items: center;
  width: 100%;
  &__text {
    margin: 0 auto;
    width: 73%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  &__title {
    font-size: 26px;
    margin-right: auto;
    color: $white;
  }
  &__Menu {
    display: none;
    @include tb-sp {
      content: "";
      // width: 30px;
      // height: auto;
      // display: block;
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
      position: relative;
      width: 50px;
      height: $button-height;
      span {
        // display: block;
        // width: 30px;
        // height: 1px;
        // background-color: $white;
        // position: absolute;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $white;
        border-radius: 4px;
        display: inherit;
        transition: inherit;
        box-sizing: inherit;
      }
      span:nth-of-type(1) {
        top: 0;
        animation: menu-bar01 .75s forwards;
        @keyframes menu-bar01 {
          0% { transform: translateY($half) rotate(45deg);}
          50% { transform: translateY($half) rotate(0);}
          100% { transform: translateY(0) rotate(0);}
        }
      }
      span:nth-of-type(2) {
        top: $half;
        transition: all .25s .25s;
        opacity: 1;
      }
      span:nth-of-type(3) {
        bottom: 0;
        animation: menu-bar02 .75s forwards;
        @keyframes menu-bar02 {
          0% { transform: translateY(-$half) rotate(-45deg);}
          50% { transform: translateY(-$half) rotate(0);}
          100% { transform: translateY(0) rotate(0);}
        }
      }
      &.active {
        span:nth-of-type(1) {
          animation: active-menu-bar01 .75s forwards;
          @keyframes active-menu-bar01 {
            0% { transform: translateY(0) rotate(0);}
            50% { transform: translateY($half) rotate(0);}
            100% { transform: translateY($half) rotate(45deg);}
          }
        }
        span:nth-of-type(2) {
          opacity: 0;
        }
        span:nth-of-type(3) {
          animation: active-menu-bar03 .75s forwards;
          @keyframes active-menu-bar03 {
            0% { transform: translateY(0) rotate(0);}
            50% { transform: translateY(-$half) rotate(0);}
            100% { transform: translateY(-$half) rotate(-45deg);}
          }
        }
      }
    }
  }
  &__Navigation {
    display: flex;
    @include tb-sp {
      display: none;
    }
    &.active {
      @include tb {
        display: block;
        position: absolute;
        top: 100%;
        width: 73%;
        text-align: right;
      }
    }
    &Item {
      font-size: 14px;
      color: $white;
      @include tb-sp {
        opacity: 0;
        transform: translateY(-100%);
      }
      @include tb {
        font-size: 18px;
      }
      @include sp {}
      &:nth-child(1) {
        @include tb {
          margin-top: 30px;
          animation: active-NavigationItem .75s ease 0.75s forwards;
          @keyframes active-NavigationItem {
            100% {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
        @include sp {}
      }
      &:nth-child(2) {
        margin: 0 20px;
        @include tb-sp {
          margin: 0;
        }
        @include tb {
          margin-top: 10px;
          animation: active-NavigationItem .75s ease 0.5s forwards;
          @keyframes active-NavigationItem {
            100% {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
        @include sp {}
      }
      &:nth-child(3) {
        @include tb-sp {}
        @include tb {
          margin-top: 10px;
          animation: active-NavigationItem .75s ease 0.25s forwards;
          @keyframes active-NavigationItem {
            100% {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
        @include sp {}
      }
      &--link {
        color: $white;
      }
    }
  }
}
