.Service {
  &__list {
    width: 73%;
    max-width: 1000px;
    margin: 34px auto 0;
    display: flex;
    justify-content: center;
    @include tb {
      display: block;
    }
    @include sp {
      display: block;
    }
  }
  &__item {
    width: 300px;
    height: 276px;
    @include tb {
      width: auto;
      height: auto;
      margin-top: 50px;
    }
    @include sp {
      width: auto;
      height: auto;
      margin-top: 50px;
    }
    &:nth-child(2) {
      margin: 0 50px 0 50px;
      @include tb {
        margin: 50px 0 0 0;
      }
      @include sp {
        margin: 50px 0 0 0;
      }
    }
  }
  &__icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: $dark-gray 1px solid;
    margin: 0 auto;
  }
  &__title {
    font-size: 20px;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 14px;
    text-align: center;
    line-height: 19px;
    overflow: scroll;
    height: 183px;
    @include tb {
      height: auto;
    }
    @include sp {
      height: auto;
    }
  }
}
