$blue: #96DEDA;
$white: #ffffff;
$gray: #EEEEEE;
$light-gray: #AAAAAA;
$dark-gray: #95989A;

$button-height: 38px;
$half: $button-height / 2 - 2px;


// $breakpoint-pc: 1000px;
$breakpoint-tb: 769px;
$breakpoint-sp: 480px;
